* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.375;

  background-color: var(--background);
  color: var(--black-text);
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

button {
  display: inline-block;
  border: none;
  cursor: pointer;
}

section {
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.hidden {
  overflow: hidden;
}